{
  "ConnectionStrings": {
    "DefaultConnection": "Server=db37138.databaseasp.net; Database=db37138; Uid=db37138; Pwd=X!g6jM3_-2xA;Connection Timeout=30;Command Timeout=30;"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*"
}
